<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoreload="true">
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <targets>
    <target name="fileLogTrace" xsi:type="File" fileName="${logDirectory}/trace.log" />
    <target name="fileLogDebug" xsi:type="File" fileName="${logDirectory}/debug.log" />
    <target name="fileLogInfo" xsi:type="File" fileName="${logDirectory}/info.log" />
    <target name="fileLogErrors" xsi:type="File" fileName="${logDirectory}/errors.log" />
    <target name="tcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505"/>
  </targets>
  <rules>
    <logger name="*" level="Trace" writeTo="fileLogTrace" />
    <logger name="*" level="Debug" writeTo="fileLogDebug" />
    <logger name="*" level="Info" writeTo="fileLogInfo" />
    <logger name="*" minlevel="Warn" writeTo="fileLogErrors" />
    <logger name="*" minlevel="Trace" writeTo="tcpOutlet" />
  </rules>
</nlog>
