<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="WebTestDBConnectionString" connectionString="Data Source=USER68576978-PC;Initial Catalog=WebTestDB;Persist Security Info=True;User ID=webtest;Password=WebTest111;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
