@model TestApp01.Model.User

@if (Model != null)
{
    <li><div class="email">@Model.Email</div></li>
    <li>@Html.ActionLink("Выход", "Logout", "Login")</li>
}
else
{
    <li><a href="#" id="LoginPopup">Вход</a></li>
    <li>@Html.ActionLink("Регистрация", "Register", "User")</li>
}